.b { font-weight: bold; }
.i { font-style: italic; }
.u { text-decoration: underline; }

.line-height-1p0 { line-height: 1.0; }
.line-height-1p1 { line-height: 1.1; }
.line-height-1p2 { line-height: 1.2; }
.line-height-1p3 { line-height: 1.3; }
.line-height-1p4 { line-height: 1.4; }
.line-height-1p5 { line-height: 1.5; }
.line-height-1p6 { line-height: 1.6; }
.line-height-1p7 { line-height: 1.7; }
.line-height-1p8 { line-height: 1.8; }
.line-height-1p9 { line-height: 1.9; }
.line-height-2p0 { line-height: 2.0; }

/* ".table" to account for bootstrap .table */
.text-left, .table td.text-left { text-align: left; }
.text-center, .table td.text-center { text-align: center; }
.text-right, .table td.text-right { text-align: right; }

/* Font in Points */
.font7pt {font-size:7pt;}
.font8pt {font-size:8pt;}
.font9pt {font-size:9pt;}
.font10pt {font-size:10pt;}
.font11pt {font-size:11pt;}
.font12pt {font-size:12pt;}
.font13pt {font-size:13pt;}
.font14pt {font-size:14pt;}
.font15pt {font-size:15pt;}
.font16pt {font-size:16pt;}
.font17pt {font-size:17pt;}
.font18pt {font-size:18pt;}
.font19pt {font-size:19pt;}
.font20pt {font-size:20pt;}
.font21pt {font-size:21pt;}
.font22pt {font-size:22pt;}
.font23pt {font-size:23pt;}
.font24pt {font-size:24pt;}
.font25pt {font-size:25pt;}
.font26pt {font-size:26pt;}
.font27pt {font-size:27pt;}
.font28pt {font-size:28pt;}
.font29pt {font-size:29pt;}
.font30pt {font-size:30pt;}
.font40pt {font-size:40pt;}
.font50pt {font-size:50pt;}
.font60pt {font-size:60pt;}
.font70pt {font-size:70pt;}
.font80pt {font-size:80pt;}

/* Font in Pixels */
.font10px {font-size:10px;}
.font11px {font-size:11px;}
.font12px {font-size:12px;}
.font13px {font-size:13px;}
.font14px {font-size:14px;}
.font15px {font-size:15px;}
.font16px {font-size:16px;}
.font17px {font-size:17px;}
.font18px {font-size:18px;}
.font19px {font-size:19px;}
.font20px {font-size:20px;}
.font21px {font-size:21px;}
.font22px {font-size:22px;}
.font23px {font-size:23px;}
.font24px {font-size:24px;}
.font25px {font-size:25px;}
.font26px {font-size:26px;}
.font27px {font-size:27px;}
.font28px {font-size:28px;}
.font29px {font-size:29px;}
.font30px {font-size:30px;}
.font31px {font-size:31px;}
.font32px {font-size:32px;}
.font33px {font-size:33px;}
.font34px {font-size:34px;}
.font35px {font-size:35px;}
.font36px {font-size:36px;}
.font37px {font-size:37px;}
.font38px {font-size:38px;}
.font39px {font-size:39px;}
.font40px {font-size:40px;}
.font41px {font-size:41px;}
.font42px {font-size:42px;}
.font43px {font-size:43px;}
.font44px {font-size:44px;}
.font45px {font-size:45px;}
.font46px {font-size:46px;}
.font47px {font-size:47px;}
.font48px {font-size:48px;}
.font49px {font-size:49px;}
.font50px {font-size:50px;}
.font60px {font-size:60px;}
.font70px {font-size:70px;}
.font80px {font-size:80px;}

/* Font in Ems */
.font0p7em {font-size:0.7em;}
.font0p8em {font-size:0.8em;}
.font0p9em {font-size:0.9em;}
.font1p0em {font-size:1.0em;}
.font1p1em {font-size:1.1em;}
.font1p2em {font-size:1.2em;}
.font1p3em {font-size:1.3em;}
.font1p4em {font-size:1.4em;}
.font1p5em {font-size:1.5em;}
.font1p6em {font-size:1.6em;}
.font1p7em {font-size:1.7em;}
.font1p8em {font-size:1.8em;}
.font1p9em {font-size:1.9em;}
.font2p0em {font-size:2.0em;}
.font2p1em {font-size:2.1em;}
.font2p2em {font-size:2.2em;}
.font2p3em {font-size:2.3em;}
.font2p4em {font-size:2.4em;}
.font2p5em {font-size:2.5em;}
.font2p6em {font-size:2.6em;}
.font2p7em {font-size:2.7em;}
.font2p8em {font-size:2.8em;}
.font2p9em {font-size:2.9em;}
.font3p0em {font-size:3.0em;}
.font4p0em {font-size:4.0em;}
.font5p0em {font-size:5.0em;}


.pos-left-1 { left: 1px; }
.pos-left-2 { left: 2px; }
.pos-left-3 { left: 3px; }
.pos-left-4 { left: 4px; }
.pos-left-5 { left: 5px; }
.pos-left-6 { left: 6px; }
.pos-left-7 { left: 7px; }
.pos-left-8 { left: 8px; }
.pos-left-9 { left: 9px; }
.pos-left-10 { left: 10px; }

.pos-top-1 { top: 1px; }
.pos-top-2 { top: 2px; }
.pos-top-3 { top: 3px; }
.pos-top-4 { top: 4px; }
.pos-top-5 { top: 5px; }
.pos-top-6 { top: 6px; }
.pos-top-7 { top: 7px; }
.pos-top-8 { top: 8px; }
.pos-top-9 { top: 9px; }
.pos-top-10 { top: 10px; }

.pos-left-minus-1 { left: -1px; }
.pos-left-minus-2 { left: -2px; }
.pos-left-minus-3 { left: -3px; }
.pos-left-minus-4 { left: -4px; }
.pos-left-minus-5 { left: -5px; }

.pos-top-minus-1 { top: -1px; }
.pos-top-minus-2 { top: -2px; }
.pos-top-minus-3 { top: -3px; }
.pos-top-minus-4 { top: -4px; }
.pos-top-minus-5 { top: -5px; }

.margin-top-1 { margin-top: 1px; }
.margin-top-2 { margin-top: 2px; }
.margin-top-3 { margin-top: 3px; }
.margin-top-4 { margin-top: 4px; }
.margin-top-5 { margin-top: 5px; }
.margin-top-6 { margin-top: 6px; }
.margin-top-7 { margin-top: 7px; }
.margin-top-8 { margin-top: 8px; }
.margin-top-9 { margin-top: 9px; }
.margin-top-10 { margin-top: 10px; }

.margin-bottom-1 { margin-bottom: 1px; }
.margin-bottom-2 { margin-bottom: 2px; }
.margin-bottom-3 { margin-bottom: 3px; }
.margin-bottom-4 { margin-bottom: 4px; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-6 { margin-bottom: 6px; }
.margin-bottom-7 { margin-bottom: 7px; }
.margin-bottom-8 { margin-bottom: 8px; }
.margin-bottom-9 { margin-bottom: 9px; }
.margin-bottom-10 { margin-bottom: 10px; }

.margin-right-1 { margin-right: 1px; }
.margin-right-2 { margin-right: 2px; }
.margin-right-3 { margin-right: 3px; }
.margin-right-4 { margin-right: 4px; }
.margin-right-5 { margin-right: 5px; }
.margin-right-6 { margin-right: 6px; }
.margin-right-7 { margin-right: 7px; }
.margin-right-8 { margin-right: 8px; }
.margin-right-9 { margin-right: 9px; }
.margin-right-10 { margin-right: 10px; }

.margin-left-1 { margin-left: 1px; }
.margin-left-2 { margin-left: 2px; }
.margin-left-3 { margin-left: 3px; }
.margin-left-4 { margin-left: 4px; }
.margin-left-5 { margin-left: 5px; }
.margin-left-6 { margin-left: 6px; }
.margin-left-7 { margin-left: 7px; }
.margin-left-8 { margin-left: 8px; }
.margin-left-9 { margin-left: 9px; }
.margin-left-10 { margin-left: 10px; }

.padding-top-1 { padding-top: 1px; }
.padding-top-2 { padding-top: 2px; }
.padding-top-3 { padding-top: 3px; }
.padding-top-4 { padding-top: 4px; }
.padding-top-5 { padding-top: 5px; }
.padding-top-6 { padding-top: 6px; }
.padding-top-7 { padding-top: 7px; }
.padding-top-8 { padding-top: 8px; }
.padding-top-9 { padding-top: 9px; }
.padding-top-10 { padding-top: 10px; }

.padding-bottom-1 { padding-bottom: 1px; }
.padding-bottom-2 { padding-bottom: 2px; }
.padding-bottom-3 { padding-bottom: 3px; }
.padding-bottom-4 { padding-bottom: 4px; }
.padding-bottom-5 { padding-bottom: 5px; }
.padding-bottom-6 { padding-bottom: 6px; }
.padding-bottom-7 { padding-bottom: 7px; }
.padding-bottom-8 { padding-bottom: 8px; }
.padding-bottom-9 { padding-bottom: 9px; }
.padding-bottom-10 { padding-bottom: 10px; }

.padding-right-1 { padding-right: 1px; }
.padding-right-2 { padding-right: 2px; }
.padding-right-3 { padding-right: 3px; }
.padding-right-4 { padding-right: 4px; }
.padding-right-5 { padding-right: 5px; }
.padding-right-6 { padding-right: 6px; }
.padding-right-7 { padding-right: 7px; }
.padding-right-8 { padding-right: 8px; }
.padding-right-9 { padding-right: 9px; }
.padding-right-10 { padding-right: 10px; }

.padding-left-1 { padding-left: 1px; }
.padding-left-2 { padding-left: 2px; }
.padding-left-3 { padding-left: 3px; }
.padding-left-4 { padding-left: 4px; }
.padding-left-5 { padding-left: 5px; }
.padding-left-6 { padding-left: 6px; }
.padding-left-7 { padding-left: 7px; }
.padding-left-8 { padding-left: 8px; }
.padding-left-9 { padding-left: 9px; }
.padding-left-10 { padding-left: 10px; }