/* Font in Points */
.font7pt {font-size:7pt;}
.font8pt {font-size:8pt;}
.font9pt {font-size:9pt;}
.font10pt {font-size:10pt;}
.font11pt {font-size:11pt;}
.font12pt {font-size:12pt;}
.font13pt {font-size:13pt;}
.font14pt {font-size:14pt;}
.font15pt {font-size:15pt;}
.font16pt {font-size:16pt;}
.font17pt {font-size:17pt;}
.font18pt {font-size:18pt;}
.font19pt {font-size:19pt;}
.font20pt {font-size:20pt;}
.font21pt {font-size:21pt;}
.font22pt {font-size:22pt;}
.font23pt {font-size:23pt;}
.font24pt {font-size:24pt;}
.font25pt {font-size:25pt;}
.font26pt {font-size:26pt;}
.font27pt {font-size:27pt;}
.font28pt {font-size:28pt;}
.font29pt {font-size:29pt;}
.font30pt {font-size:30pt;}
.font40pt {font-size:40pt;}
.font50pt {font-size:50pt;}
.font60pt {font-size:60pt;}
.font70pt {font-size:70pt;}
.font80pt {font-size:80pt;}

/* Font in Pixels */
.font10px {font-size:10px;}
.font11px {font-size:11px;}
.font12px {font-size:12px;}
.font13px {font-size:13px;}
.font14px {font-size:14px;}
.font15px {font-size:15px;}
.font16px {font-size:16px;}
.font17px {font-size:17px;}
.font18px {font-size:18px;}
.font19px {font-size:19px;}
.font20px {font-size:20px;}
.font21px {font-size:21px;}
.font22px {font-size:22px;}
.font23px {font-size:23px;}
.font24px {font-size:24px;}
.font25px {font-size:25px;}
.font26px {font-size:26px;}
.font27px {font-size:27px;}
.font28px {font-size:28px;}
.font29px {font-size:29px;}
.font30px {font-size:30px;}
.font31px {font-size:31px;}
.font32px {font-size:32px;}
.font33px {font-size:33px;}
.font34px {font-size:34px;}
.font35px {font-size:35px;}
.font36px {font-size:36px;}
.font37px {font-size:37px;}
.font38px {font-size:38px;}
.font39px {font-size:39px;}
.font40px {font-size:40px;}
.font41px {font-size:41px;}
.font42px {font-size:42px;}
.font43px {font-size:43px;}
.font44px {font-size:44px;}
.font45px {font-size:45px;}
.font46px {font-size:46px;}
.font47px {font-size:47px;}
.font48px {font-size:48px;}
.font49px {font-size:49px;}
.font50px {font-size:50px;}
.font60px {font-size:60px;}
.font70px {font-size:70px;}
.font80px {font-size:80px;}

/* Font in Ems */
.font0p7em {font-size:0.7em;}
.font0p8em {font-size:0.8em;}
.font0p9em {font-size:0.9em;}
.font1p0em {font-size:1.0em;}
.font1p1em {font-size:1.1em;}
.font1p2em {font-size:1.2em;}
.font1p3em {font-size:1.3em;}
.font1p4em {font-size:1.4em;}
.font1p5em {font-size:1.5em;}
.font1p6em {font-size:1.6em;}
.font1p7em {font-size:1.7em;}
.font1p8em {font-size:1.8em;}
.font1p9em {font-size:1.9em;}
.font2p0em {font-size:2.0em;}
.font2p1em {font-size:2.1em;}
.font2p2em {font-size:2.2em;}
.font2p3em {font-size:2.3em;}
.font2p4em {font-size:2.4em;}
.font2p5em {font-size:2.5em;}
.font2p6em {font-size:2.6em;}
.font2p7em {font-size:2.7em;}
.font2p8em {font-size:2.8em;}
.font2p9em {font-size:2.9em;}
.font3p0em {font-size:3.0em;}
.font4p0em {font-size:4.0em;}
.font5p0em {font-size:5.0em;}