.spacer1,
.spacer2,
.spacer3,
.spacer4,
.spacer5,
.spacer6,
.spacer7,
.spacer8,
.spacer9,
.spacer10,
.spacer11,
.spacer12,
.spacer13,
.spacer14,
.spacer15,
.spacer20,
.spacer25, 
.spacer30,
.spacer35,
.spacer40,
.spacer45,
.spacer50,
.spacer55,
.spacer60,
.spacer65, 
.spacer70, 
.spacer75, 
.spacer80,
.spacer85, 
.spacer90,
.spacer95,
.spacer100,
.spacer200 {
    display: block;
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 0; 
    width: 100%; 
}

.spacer1 { height: 1px; }
.spacer2 { height: 2px; }
.spacer3 { height: 3px; }
.spacer4 { height: 4px; }
.spacer5 { height: 5px; }
.spacer6 { height: 6px; }
.spacer7 { height: 7px; }
.spacer8 { height: 8px; }
.spacer9 { height: 9px; }
.spacer10 { height: 10px; }
.spacer11 { height: 11px; }
.spacer12 { height: 12px; }
.spacer13 { height: 13px; }
.spacer14 { height: 14px; }
.spacer15 { height: 15px; }
.spacer20 { height: 20px; }
.spacer25 { height: 25px; }
.spacer30 { height: 30px; }
.spacer35 { height: 35px; }
.spacer40 { height: 40px; }
.spacer45 { height: 45px; }
.spacer50 { height: 50px; }
.spacer55 { height: 55px; }
.spacer60 { height: 60px; }
.spacer65 { height: 65px; }
.spacer70 { height: 70px; }
.spacer75 { height: 75px; }
.spacer80 { height: 80px; }
.spacer85 { height: 85px; }
.spacer90 { height: 90px; }
.spacer95 { height: 95px; }
.spacer100 { height: 100px; }
.spacer200 { height: 200px; }
